body.page-node-type-blog-post{
  .image{
    margin: 0 0 30px;
  }
  h1{
    margin: 0 0 20px;
    @media screen and (min-width: 768px){
      float: left;
      width: 60%;
      clear: left;
    }
  }
  .blog-sidebar{
    margin: 0 0 30px;
    @media screen and (min-width: 768px){
      float: right;
      width: 25%;
      margin: 0 0 30px 40px;
    }
  }
  .post-date{
    font-size: 1.4em;
    margin: 0 0 40px;
    clear: left;
    i{
      margin: 0 10px 0 0;
    }
    div{
      display: inline-block;
    }
    @media screen and (min-width: 768px){
      width: 70%;
    }
  }
  .text{
    font-size: 1.2em;
    margin: 0 0 40px;
    clear: left;
    @media screen and (min-width: 768px){
      width: 70%;
    }
  }
}