body.page-node-type-blog-post{
  .image{
    margin: 0 0 30px;
  }
  h1{
    margin: 0 0 20px;
    @media screen and (min-width: 768px){
      float: left;
      width: 60%;
      clear: left;
    }
  }
  .blog-sidebar{
    margin: 0 0 30px;
    @media screen and (min-width: 768px){
      float: right;
      width: 25%;
      margin: 0 0 30px 40px;
    }
    .authors{
      font-size: 1.4em;
    }
  }
  .post-date{
    font-size: 1.4em;
    margin: 0 0 40px;
    clear: left;
    i{
      margin: 0 10px 0 0;
    }
    div{
      display: inline-block;
    }
    @media screen and (min-width: 768px){
      width: 70%;
    }
  }
  .text{
    font-size: 1.2em;
    margin: 0 0 40px;
    clear: left;
    @media screen and (min-width: 768px){
      width: 70%;
    }
  }
}

.blog-list{
  .views-row{
    padding: 20px 0;
    border-bottom: 1px solid $line;
    &:last-child{
      border-bottom: none;
    }
    .image{
      margin: 0 0 20px 0;
      @media screen and (min-width: 768px){
        float: left;
        margin: 0 20px 0 0;
      }
    }
    .text{
      @media screen and (min-width: 768px){
        margin: 0 0 0 220px;
      }
      h2{
        margin: 0 0 10px;
        font-size: 22px;
      }
      .posted{
        font-size: 16px;
        font-style: italic;
        margin: 0 0 20px;
      }
      .body{
        font-size: 20px;
      }
    }
  }
}