.footer-top{
  background: $grey;
  color: $text-light;
  padding: 40px 0 50px;
}

.footer{
  background: $grey-dark;
  border: none;
  color: $text-light;
  font-size: 14px;
  margin: 0;
  line-height: 30px;
  .social-links{
    z-index: 1;
    @media screen and (min-width: 768px) {
      float: right;
      a:last-child{
        margin-right: 0;
      }
    }
    a{
      color: $text-light;
      font-size: 30px;
      margin: 0 10px;
    }
  }
}