.navbar{
  background: rgba(0,0,0,0.8);
  border: none;
  &.navbar-inverse{
    .navbar-nav{
      > li{
        > a{
          color: #fff;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          @media screen and (max-width: 991px) {
            font-size: 15px;
            padding-left: 10px;
            padding-right: 10px;
          }
          &.btn-blank{
            border: 1px solid rgba(255, 255, 255, 0.6);
          }
        }
      }
      @media screen and (min-width: 768px) {
        padding: 15px 0;
        float: right;
      }
      .active{
        > a, > a:hover, > a:focus{
          background: none;
          border-bottom-color: $text-light;
        }
      }
      > .active > a.btn-primary{
        background: $brand-secondary;
      }
      > .active > a.btn-blank{
        background: black;
      }
    }
  }
  .btn{
    font-size: 14px;
    padding: 10px 15px;
    @media screen and (min-width: 768px) {
      margin: 5px 10px;
    }
    @media screen and (max-width: 767px) {
      margin: 0 10px 15px;
    }
  }
  .navbar-toggle{
    border-radius: 2px;
    border-color: transparent;
    margin-top: 20px;
  }
  .logo{
    max-width: 65%;
  }
}

.block-views-blockuser-nav-block-1{
  @media screen and (min-width: 768px) {
    float: right;
  }
  color: #fff;
  a{
    color: #fff;
  }
  .user-nav{
    padding: 10px 0;
    position: relative;
    @media screen and (min-width: 768px) {
      width: 60px;
      margin-left: 15px;
    }
    .nav-link{
      line-height: 40px;
      img{
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
        display: inline-block;

        @media screen and (max-width: 767px) {
          margin-left: 10px;
          float: right;
        }
      }

      @media screen and (min-width: 768px) {
        .username{
          display: none;
        }
      }

      @media screen and (max-width: 767px) {
        i.fas{
          display: none;
        }
      }
    }
    .user-dropdown{
      @media screen and (min-width: 768px) {
        display: none;
        position: absolute;
        top: 85px;
        right: 0;
        width: 140px;
        background: $grey-dark;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.6);
      }
      @media screen and (max-width: 767px) {
        display: block !important;
        li{
          a{
          }
        }
      }
      margin: 0;
      padding: 0; 
      padding: 10px;
      list-style: none;
      z-index: 99;
      &:before{
        content: '';
        position: absolute;
        top: -9px;
        right: 20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $grey-dark transparent;
      }
      li{
        margin: 0;
        padding: 0;
        a{
          display: block;
          padding: 10px;
          font-size: 13px;
        }
      }
    }
  }
}

.top-bar{
  background: $brand-primary;
  padding: 8px 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  top: 83px;
}

body.toolbar-tray-open .top-bar{
  top: 160px;
}


//Mobile menu styling

@media screen and (max-width: 767px) {
  body{
    transition: all 0.5s ease;
  }
  .parallax-mirror{
    transition: left 0.5s ease, right 0.5s ease;
  }
  .body-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    transition: left 0.5s ease;
  }
  .navbar{
    transition: left 0.5s ease, right 0.5s ease;
  }
  .navbar-collapse{
    background: darken($grey-dark,5%);
    box-shadow: inset 2px 4px 6px rgba(0,0,0,0.7);
    position: fixed;
    display: block !important;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100vh !important;
    margin: 0 !important;
    max-height: 100vh !important;
    z-index: 1000;
    transition: right 0.5s ease;
  }
  .top-bar{
    transition: left 0.5s ease, right 0.5s ease;
  }
  body.nav-open{
    .navbar-collapse.open{
      right: 0;
      transition: right 0.5s ease;
    }

    .body-overlay{
      left: -240px;
      transition: left 0.5s ease;
    }
    .parallax-mirror{
      left: -240px !important;
      right: 240px;
    }
    .navbar{
      left: -240px !important;
      right: 240px;
    }
    .top-bar{
      left: -240px !important;
      right: 240px;
    }
    margin-left: -240px;
    margin-right: 240px;
  }
}
