.navbar{
  background: rgba(0,0,0,0.8);
  border: none;
  &.navbar-inverse{
    .navbar-nav{
      > li{
        > a{
          color: #fff;
          text-transform: uppercase;
        }
      }
      @media screen and (min-width: 768px) {
        padding: 15px 0;
        float: right;
      }
    }
  }
}

