// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";


ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 25px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

body{
  background: $grey-bg;
  color: $text;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

body.navbar-is-fixed-top{
  margin-top: 0;
}

.main-container{
  padding-top: 100px;
  min-height: 60vh;
}

.btn{
  border-radius: 2px;
  font-size: 18px;
  border: 1px solid transparent;
  font-weight: 300;
  padding: 10px 15px;
  &:active,&:focus,&:hover{
    border-color: transparent;
  }
}

.btn-block{
  display: block;
}

.btn-primary{
  background-color: $brand-secondary;
  &:active,&:focus,&:hover{
    background-color: lighten($brand-secondary,5%) !important;
  }
}

.btn-secondary{
  background-color: $brand-primary;
  color: #fff;
  &:active,&:focus,&:hover{
    background-color: lighten($brand-primary,5%) !important;
    color: #fff;
  }
}

.btn-blank{
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  &:active,&:focus,&:hover{
    background-color: rgba(255,255,255,0.2) !important;
    border: 1px solid rgba(255,255,255,0.8);
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1{
  font-size: 32px;
  margin: 0 0 1em;
}

h2{
  font-size: 26px;
  margin: 0 0 1em;
}

h3{
  font-size: 22px;
  margin: 0 0 1em;
}

h4{
  font-size: 20px;
  margin: 0 0 1em;
}

.form-control{
  border-radius: 3px;
  padding: 10px 15px;
  height: 44px;
  background: lighten($line,2%);
  border: 2px solid $line;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),  0 1px 4px rgba(0,0,0,0.2);
  &:focus{
    border-color: lighten($brand-secondary,20%);
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.4),  0 1px 4px rgba($brand-secondary,0.2);
  }
}

label{
  font-weight: 300;
  font-size: 18px;
}

.local-actions{
  float: right;
  margin: 0 0 20px;
  .btn{
    padding: 5px 10px;
    font-size: 16px;
  }
}