// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";


ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 25px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

body{
  background: $grey-bg;
  color: $text;
}

body.navbar-is-fixed-top{
  margin-top: 0;
}

.main-container{
  padding-top: 100px;
  min-height: 60vh;
}

.btn{
  border-radius: 2px;
  font-size: 23px;
  border: none;
  font-weight: 300;
  padding: 15px;
}

.btn-block{
  display: block;
}

.btn-primary{
  background-color: $brand-secondary;
  &:active,&:focus,&:hover{
    background-color: lighten($brand-secondary,5%);
  }
}

.btn-secondary{
  background-color: $brand-primary;
  &:active,&:focus,&:hover{
    background-color: lighten($brand-primary,5%);
  }
}

h1{
  font-size: 32px;
  margin: 0 0 1em;
}

h2{
  font-size: 26px;
  margin: 0 0 1em;
}

h3{
  font-size: 22px;
  margin: 0 0 1em;
}

h4{
  font-size: 20px;
  margin: 0 0 1em;
}