.region-navigation {
  .block-private-message-notification-block {
    float: right;
    margin-top: 12px;
  }
}

.block-private-message {
  .user--view-mode-private-message-author {
    display: inline-block;
  }
}
